.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    padding-right: 90px;
    padding-top: 55px;
}
ul{
    list-style: none;
    line-height: 36px;
}
li a{
    text-decoration: none;
    color: #fff;
    font-family: poppins;
    font-size: 14px;
    font-weight: 100;
}
li a:hover{
    text-decoration: underline;
}
.child h4{
    color: #fff;
    margin-left: 39px;
    font-size: 21px;
}
.each img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
.social-icons{
    font-size: 25px;
    padding-left: 30px;
    padding-top: 50px;
}

.social-icons a{
    margin: 10px;
    color: #fff;
    background-color: black;
    
}
.social-icons a:hover{
    color: rgba(233, 220, 220, 0.856);
}
.last-div{
    display: block;
    background-color: black;
    padding-left: 37px;
    padding-top: 20px;
}
.last-div a{
    color: #fff;
    text-decoration: none;
    font-family: poppins;
    font-weight: 500;
    font-size: larger;
}
.last-div a:hover{
    text-decoration: underline;
}
