.img{
    height: 100px;
    width: 100px;
}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
}
nav{
    flex: 1;
    text-align: right;
    border: 1px solid rgb(174, 13, 13);
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    margin-right: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #555;
}